<div class="post-container">
    <table>
        <tr>
            <td>ID</td>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td>{{ post.name }}</td>
        </tr>
        <tr>
            <td>Текст сообщения</td>
            <td>{{ post.message|nl2br }}</td>
        </tr>
        <tr>
            <td>Изображения:</td>
            <td>
                <ul data-empty-message="Нет Изображений">{% for image in post.images %}
                        <li>
                            <img src="/uploads/{{ image.filename }}" height="100px" width="auto"/>
                            <a target="_blank" href="/uploads/{{ image.filename }}">
                                {{ image.name }}
                            </a>
                        </li>
                    {% endfor %}</ul>
            </td>
        </tr>
    </table>
</div>