{% extends  '_layout.twig' %}

{% block content %}
    <form action="#" method="post" enctype="multipart/form-data">
        {{ form_widget(form) }}

        <input type="submit" name="submit"/>
    </form>
{% endblock content %}