.content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.post-container {
    background-color: #ddddff;
    margin-bottom: 20px;
}

#form div {
    margin: 10px;
}

#form label {
    display: block;
    width: 100%;
    background-color: #ddddff;
}

#form ul {
    color: #dd4444;
}

ul:empty::after {
    content: attr(data-empty-message);
}