<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<ul>
    <li><a href="/post/add">Добавить запись</a></li>
    <li><a href="/post/list">Все записи</a></li>
</ul>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
